{% include 'base.html' %}
{% load static %}

{% block content %}
<div class="header">
    {% include "common/header.html" %}
</div>
<div id="login-form" >
    <div class="login-form">
        <h1>Log-in</h1>
        {% if form.errors %}
            <p>
                Your username and password didn't match.
                Please try again
            </p>
        {% else %}
            <p>Please use the following form to login:</p>
        {% endif %}
            <form action="{% url 'account:login' %}" method="POST">
                {{ form.as_p }}
                {% csrf_token %}
                <input type="hidden" name="next" value="{{ next }}">
                <p><input type="submit" value="Log-in"></p>
            </form>
    </div>
</div>
{% endblock %}