<footer>
    <div class="back-to-top">
        <p>Back to top</p>
    </div>
    <div class="footer-content">
        <div class="footer-item">
            <h5>Get to know us</h5>
            <ul>
                <li>Blog</li>
                <li>About us</li>
            </ul>
        </div>
        <div class="footer-item">
            <h5>Make money with us</h5>
            <ul>
                <li>Sell on Computerphile</li>
            </ul>
        </div>
        <div class="footer-item">
            <h5>Let us help you</h5>
            <ul>
                <li>Your account</li>
                <li>Your orders</li>
                <li>Help</li>
            </ul>
        </div>
    </div>
</footer>