{% include 'base.html' %}
{% load static %}

{% block content %}

<div class="computers-page-container">
    <div class="header">
        {% include "common/header.html" %}
    </div>
    <div class="sub-navigation">
        <div class="sub-nav-top-content">
            <p><a href="{% url 'computers:home' %}"> HOME</a> ><em>Computer systems</em></p>
        </div>
        <div class="sub-nav-bottom-content">
            <h3>COMPUTER SYSTEMS</h3>
        </div>
    </div>
    <div class="main-content container">
      
        <div class="comp-systems-featured-items">
            <h1>COMPUTER SYSTEMS FEATURED ITEMS</h1>
            <div class="cs-flex-container">
                {% for computer in computers %}
                <div class="cs-featured-items-content">
                    {% if computer.image %}
                    <a href="{% url 'computers:product-details' pk=computer.id %}"> <img src="{{ computer.image.url}}" alt=""></a>  
                    {% endif %}
                    <div class="star-ratings">
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                    </div>
                    <div class="cs-description">
                        <p>{{ computer.Brand }}{{ computer.series }} {{ computer.model }} {{ computer.memory }} {{ computer.cpu }}
                        </p>
                        <p>{{ computer.price }}</p>
                    </div>
                </div>
                {% endfor %}
               
            </div>  
        </div>
    </div>
    <footer>
        {% include "common/footer.html" %}
    </footer>
</div>

{% endblock %}